# Discord and config handling
novus>=0.0.3,<0.1
toml
upgradechatpy>=1.0.3

# Storage handling
asyncpg
aioredis>=1.3,<2.0
aioredlock
aiodogstatsd

# Website stuff
aiohttp
cryptography
aiohttp_jinja2
aiohttp_session
jinja2

# Docs
sphinx>=2.0
sphinx_rtd_theme>=0.5.2
